.user-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(208, 209, 205, 0.185);
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }
  &__delete{
    height: 100%;
    width: 14%;
    padding: 8px 12px;
    font-size: 18px;
    background-color: $error_color;
    opacity: 0.8;
    border: none;
    border-radius: 0px 7px 7px 0px;
    color: $whiite-color;
    cursor: pointer;

    &:hover {
      opacity: 1;

      background-color: $error_color;
    }
  }
}

.user-card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  
  cursor: pointer;
 
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__info {
    p {
      margin: 0;
    }

    &__name {
      font-weight: bold;
    }
  }
}
