// utils
@import './utils/styleReset.scss';
@import './utils/variables.scss';

// atoms
@import 'atoms/Module.scss';
@import 'atoms/Pagination.scss';
@import 'atoms/NewUse.scss';
@import 'atoms/Loader.scss';

// components
@import 'components/UserList.scss';
@import 'components/CurrentUser.scss';
@import 'components/Filter.scss';
@import 'components/Header.scss';
@import 'components/Main.scss';

.container {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.notification {
  background-color: #f5f5f5;
  border-radius: 4px;
  position: relative;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.is-warning {
  background-color: #ffe08a;
  color: rgba(0, 0, 0, 0.7);
}
